<div class="container"cdkDropListGroup>

  <div>
    <div class="example-container">
      <h2>Vehicles:</h2>
      <div id="vehicles" cdkDropList [cdkDropListData]="vehicles" class="example-list" [cdkDropListConnectedTo]="['ordersv']"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of vehicles" cdkDrag >{{item.name}}</div>
      </div>
    </div>
    <div class="orders-container">
      <div class="flex-container">
        <div class="order" *ngFor="let order of orders;">
         
          <div class="" id="ordersv" cdkDropList  [cdkDropListConnectedTo]="['vehicles']" [cdkDropListData]="orders" (cdkDropListDropped)="onVehicleDropped($event, order)">
            <div class="order-vehicle" *ngIf="!order.vehicle" cdkDrag>Drop Vehicle Here</div>
            <div class="order-vehicle" *ngIf="order.vehicle" cdkDrag>{{ order.vehicle.name }}</div>
          </div>
          <div class="" id="ordersd" cdkDropList [cdkDropListConnectedTo]="['drivers']" [cdkDropListData]="orders"
            (cdkDropListDropped)="onDriverDropped($event, order)">
            <div class="order-driver" *ngIf="!order.driver" cdkDrag>Drop Driver Here</div>
            <div class="order-driver" *ngIf="order.driver" cdkDrag>{{ order.driver.name }}</div>
          </div>
          <div class="order-details">
            <strong>Order Details:</strong>
            Duration: {{ order.timeNeeded }} hours, Kilometers: {{ order.approxDistance }} km
          </div>
          <div class="order-cost" >
            <strong> Cost:</strong>
            <h4  *ngIf="order.driver && order.vehicle"> {{ distancecost | currency: 'INR':'symbol-narrow' }}</h4>
          </div>
      
          <div class="order-cost">
            <strong>Total Cost:</strong>
            {{ calculateOrderCost(order) | currency: 'INR':'symbol-narrow' }}
          </div>
          
        </div>
      </div>
    </div>
    <div class="example-container">
      <h2 >Drivers:</h2>
      <div id="drivers" cdkDropList [cdkDropListData]="drivers" class="example-list" [cdkDropListConnectedTo]="['ordersd']"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let driver of drivers" cdkDrag>{{ driver.name }}</div>
      </div>
    </div>
  </div>
</div>
