

.example-container {
  background-color: #e2ce1a;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin:10px;
}

.example-list {
 
margin:10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.example-box {
  width: 22%; 
  padding: 8px;
  margin: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
 
  border-radius: 4px;
}

.orders-container
{
 
  margin: 10px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e2ce1a;

  
  overflow-x: hidden;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align:center;
  position: relative;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  margin-bottom: 20px;
}
/* .example-box {
  flex:23%; 
  padding: 8px;
  margin: 0;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
} */
.order {
  width: 23%; 
   display: flex; 
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.order-details,
.order-vehicle-list,
.order-driver-list,
.order-cost {
  margin-top: 10px;
  font-weight: bold;
}


.order-vehicle,
.order-driver {
  
  padding: 40px;
  margin: 0 4px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
